body{
    background: #F0FFF0;
}
.container{
    position: relative;
}

input{
    background: #F0FFF0;
    width: 300px;
    padding: 20px;
    font-size: 18px;
    color: #181818;
    outline: none;
    border: 2px solid #181818;
}

span{
    position: absolute;
    top: 22px;
    left: 25px;
    font-size: 15px;
    letter-spacing: 0.05em;
    pointer-events: none;
    font-weight: 600;
    font-family: sans-serif;
    transition: .4s;
    color: #181818;
}

input:focus{
    border: none;
    outline: 2px solid #181818;
}

input:focus + span,
input:valid + span{
    top: -12px;
    left: 10px;
    font-size: 15px;
    padding: 0 10px;
    background: #F0FFF0;
}