.container{
    width: 900px;
    height: 300px;
    overflow-x: scroll;
    background-color: #1C2A44;
    padding: 2%;
    border-radius: 25px;
    box-shadow: 0 4px 8px #00FFFF, 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.container-img{
    display: flex;
    flex-direction: row;
}

img{
    width: 500px;
    height: 300px;
    box-shadow: 0px 0px 15px black;
    margin-right: 40px;
}